* {
    box-sizing: border-box;
}

body{
    background-color: #22252c;
    background-size: cover;
    margin:0;
}

@media(min-width:660px){
    body{
       padding: 7px;
    }
    
    .header{
       margin: 9px 0;
       border-radius: 4em;
    }
} 

.header{
    background-image: linear-gradient(90deg, #159fb8, #34bd74);
    margin: 15px 0 20px;
    border-radius: 3em;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: auto;
    max-width: 1300px;
}

.logo {
    margin-left: 35px;
    height: 25px;
    background-repeat: no-repeat;
}

.logo:hover{
    cursor: pointer;
}

.main-nav{
    justify-content: center;
    display: flex;
    width: 50%;
    font-size: 1.05em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-nav > *:not(:last-child) {
    margin-inline-end: 40px;
}

.button{
    padding: 5px 13px;
    border-radius: 2em;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    outline: none;
    background-color: white;
    color: #21ac91;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.137);
    
}

.button:hover{
    cursor: pointer;
}

.main-box{
    background-color: #22252c;
    height: 700px;
    max-width: 1300px;
    margin: auto;
    
}

.gallery-header{
    color:transparent
}

.gallery-box{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #393c42;
    border: 15px solid #393c42;
    border-radius: 15px;
    height: 500px;
    padding: 10px;
}


.gallery-box::-webkit-scrollbar {
    border-radius: 10px;
    width: 13px;
}

.gallery-box::-webkit-scrollbar-corner {
    display: none;
}

.gallery-box::-webkit-scrollbar-track {
    background-color: #22252c;
    margin-top: 75px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.gallery-box::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, #159fb8, #34bd74);
    border-radius: 10px;
}


.gallery-imgs{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 30px;
    padding: 0px 55px 30px;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 10px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.meme-box{
    background-color: #22252c;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hidden{
    display:none
}

.canvas-box{
    height: 550px;
    display: flex;
    justify-content: space-around;

}

@media(min-width:1050px){
    .canvas-box{
       flex-direction: row;
    }
 }

.canvas-box>*{
    max-width: 500px;
 }

#main-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid #393c42;
    border-radius: 25px;
    margin: 50px;

}

.main-editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px; /* pp: 24px 40px */
    margin: 6px; /*pp:12px*/
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 25px;
    height: 450px;
    margin-top: 50px;
    margin-left: 60px;
}

.main-editor>*{
    margin: 10px 0;
 }


.edit-button:hover{
    cursor: pointer;
}

.meme-line {
    display: block;
    background-color: #dde2e9;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 3em;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border: 5px outset;
}

.meme-line input[type="text"]:focus-visible{
    padding: 0;
    outline: none;
 }

.edit-button {
    border-radius: 10px;
    border: none;
    padding: 0px;
    width: 55px;
    height: 55px;
    font-size: 21px;
    vertical-align: top;
    margin: 5px;
    background-color: #393c42;
}

.main-control{
    align-items: center; 
    justify-items: stretch;
    margin:10px;
    
}

.edit-text{
    display: grid;
   gap:18px;
   grid-template-columns: repeat(5,0.1fr);
   grid-template-rows: repeat(2,0.1fr);
   align-items: center; 
   justify-items: stretch;
   background-color: #19a59f;
   border-radius: 10px;
   padding: 11px 13px;
   height: 160px;
}

.share-buttons{
    display: flex;
    border-radius: 10px;
    padding: 0px;
    border: none;
    font-size: 21px;
    vertical-align: top;
    margin: 5px;
    background-size:cover;
}

.share-buttons:hover{
    cursor: pointer;
}

.fill{
    background-color: #19a59f;
}